body,
html {
  height: 100%;
  transition: 0.3s;
}

.navbar {
  list-style-type: none;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #333;
  width: 100%;
  padding-top: 12px;
  height: 50px;
}

.navbar li {
  /* padding-top: 25px; */
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: white;
  padding: 15px 75px;
  transition: 0.3s;
}

.navbar li a:hover {
  background-color: #111;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.parallax {
  /* The image used */
  background-image: url('../images/zq-lee-VbDjv8-8ibc-unsplash-day.jpg');
  transition: 0.3s;

  Height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* filter: blur(2px);
  -webkit-filter: blur(2px); */

  display:flex;
  justify-content:center;
  align-items:center;
}


#text {
  width: 300px;
  height: 100px; 
  backdrop-filter: blur(5px);
  border: 2px solid black;
  border-radius: 5px;
}


/* .parallax::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../images/zq-lee-VbDjv8-8ibc-unsplash-day.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.parallax {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
} */

.text-center {
  text-align: center;
}

.border {
  border: solid 1px silver;
}

.border-bottom {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.border-rounded {
  border-radius: 5px;
}

.padding-2 {
  padding: 2em;
}

.margin-top-5 {
  margin-top: 5em;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }

  .navbar {
    /* height: 150px; */
    padding-left: 0%;
  }

  .navbar li {
    /* padding-top: 25px; */
    display: block;
  }
}

#linkedin-logo {
  max-width: 120px;
}

.parallax.darkmode {
  background-image: url('../images/zq-lee-DcyL0IoCY0A-unsplash-night.jpg');
  transition: 0.3s;
}

.darkmode {
  background-color: #111;
  color: white;
  transition: 0.5s;
}

.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5 {
  color: white;
}

